*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}
main {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
button {
  padding: 0;
  border: none;
  font-family: "Inter", sans-serif;
  background: none;
  cursor: pointer;
}
.default-input {
  display: flex;
  width: 100%;
  padding: 30px 20px 10px 20px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  background: #fff;
}
input:focus {
  border: 1px solid #212121;
}
input::placeholder {
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg {
  color: currentColor;
  transition: all 0.3s ease-in-out;
}
*:before,
*:after,
a,
button {
  transition: all 0.3s ease-in-out;
}

/* Helpers */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25em;
}
.box-shadow {
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
.auth-btn {
  padding: 13px 30px;
  border: 1px solid #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.7px;
  color: #212121;
}
.auth-btn:hover {
  color: #fff;
  background: #212121;
}
.submit-btn {
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #212121;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  background: #212121;
}
.submit-btn:hover {
  color: #212121;
  background: #fff;
}
.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  padding: 15px 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  background: #4067ec;
}
.main-btn:hover {
  color: #fff;
  background-color: #2196f3;
}
.main-btn img {
  width: 28px;
  height: 14px;
  margin-left: 5px;
}
.btn-container {
  display: flex;
}
.btn-container.center {
  justify-content: center;
}
.btn-container.right {
  justify-content: flex-end;
}

/* Header */
.header {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  display: inline-block;
  width: 257px;
  height: 51px;
  font-size: 0;
}
.header .auth-btns {
  display: flex;
  align-items: center;
}
.header .auth-btns > li:not(:last-child) {
  margin-right: 20px;
}
.header .user-profile {
  margin: 0 40px 0 auto;
}
.header .user-profile .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25em;
}
.header .user-profile .name span {
  color: #4067ec;
}

/* Popups */
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(43, 43, 43, 0.3);
}
.popup .content {
  position: relative;
  max-width: 572px;
  width: 100%;
  padding: 60px 90px;
  border: 1px solid #e0e0e0;
  background: #fff;
  z-index: 2;
}
.popup .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
  cursor: pointer;
}
.popup .close-btn svg {
  fill: #212121;
  width: 24px;
  height: 24px;
}
.popup .close-btn:hover svg {
  fill: #4067ec;
}
.popup .title {
  margin-bottom: 10px;
  text-align: center;
}
.popup .subtitle {
  margin-bottom: 30px;
  text-align: center;
  color: #757575;
}
.popup .input-box {
  position: relative;
}
.popup .input-title {
  position: absolute;
  top: 10px;
  left: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
}
.popup .views-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 0;
  line-height: 1;
  cursor: pointer;
}
.popup .views-password svg {
  width: 20px;
  height: 20px;
  fill: #bebebe;
}
.popup .views-password:hover svg {
  fill: #212121;
}
.popup .password-input {
  padding-right: 40px;
}
.popup .checkbox-container {
  display: inline-block;
  position: relative;
  margin: 16px 0;
}
.popup .checkbox-container input {
  position: absolute;
  margin: 0;
  height: 100%;
  opacity: 0;
}
.popup .checkbox-container label {
  position: relative;
  padding-left: 30px;
  z-index: 2;
  font-size: 12px;
  line-height: 22px;
  color: #616161;
}
.popup .checkbox-container label a {
  text-decoration: underline;
  color: #616161;
}
.popup .checkbox-container label a:hover {
  text-decoration: none;
}
.popup .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #212121;
  background-color: #fff;
}
.popup .checkbox-container .checkmark::after {
  display: none;
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 10px;
  height: 13px;
  border: 1px solid #212121;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.popup .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Quiz Section */
.quiz {
  padding: 80px 0;
}
.quiz .inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.quiz .left-part {
  width: calc(100% - 330px);
  padding-right: 40px;
}
.quiz .right-part {
  width: 330px;
}
.quiz .right-part > div {
  padding: 20px;
}
.quiz .inner > div > div:not(:last-child),
.quiz .inner > aside > div:not(:last-child) {
  margin-bottom: 40px;
}
.quiz .right-part .title {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

/* Quiz Box */
.quiz-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 40px;
}
.quiz-box .title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
}
.quiz-box .title span {
  display: block;
  margin-top: 5px;
  color: #24243e;
}
.quiz-box .quiz-question .title {
  text-align: left;
  max-width: calc(100% - 80px);
}
.quiz-box .bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.quiz-box .points {
  position: relative;
  padding-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25em;
  color: #212121;
}
.quiz-box .points-added {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 20px;
    color: green;
}
.quiz-box .quiz-question .main-btn {
  max-width: 200px;
}
.quiz-box .count-question {
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25em;
}

/* Answears Box */
.answears-box {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: -10px;
  margin-bottom: 30px;
}
.answears-box li {
  width: 50%;
  padding: 10px;
}
.answears-box .item {
  border: 1px solid #212121;
  border-radius: 10px;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25em;
  background: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.answears-box .item.true {
  outline: 1px solid green;
  border-color: green;
  background: #fff;
}
.answears-box .item.false {
  outline: 1px solid red;
  border-color: red;
  background: #fff;
}
.answears-box .item:hover {
  background: #fafafa;
}

/* Quiz Result List */
.quiz-result_list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin: -10px;
    margin-bottom: 30px;
}
.quiz-result_list li {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
}
.quiz-result_list li span {
    font-weight: 700;
    font-size: 22px;
    color: #4067EC;
}

/* User List */
.user-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: -10px;
}
.user-list > li {
  width: 100%;
  padding: 10px;
}

/* User Box */
.user-box {
  display: flex;
  align-items: center;
}
.user-box .user-img {
  width: 60px;
  height: 60px;
}
.user-box .user-img span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    background: #E0E0E0;
}
.user-box .user-img img {
  border-radius: 50%;
}
.user-box .user-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  padding-left: 15px;
}
.user-box .user-name {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  color: #212121;
}
.user-box .user-result {
  font-size: 14px;
  line-height: 1.25em;
  color: #4067ec;
}
.user-box .user-result span {
  font-weight: 700;
}

/* Loader */
.loader {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #4067ec;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* Footer */
.footer {
  padding: 40px 0;
}
